<!-- Header -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//DE" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de">
<html>
<head>
	<meta name="robots" content="noindex">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script language="JavaScript" src="jscripts/calendar/calendar_db.js"></script>
	<link rel="stylesheet" href="jscripts/calendar/calendar.css">	
	<title>TITEL</title>
</head>
<body>

<div id="header">
HIER KOMMT DER HEADER HIN
</div>

<div id="sidebar">
<a href="test">TESSSTESTETEST</a><br>
<a href="test">TESSSTESTETEST</a><br>
<a href="test">TESSSTESTETEST</a><br>
<a href="test">TESSSTESTETEST</a><br>
<a href="test">TESSSTESTETEST</a><br>
<a href="test">TESSSTESTETEST</a><br>
<a href="test">TESSSTESTETEST</a><br>
<a href="test">TESSSTESTETEST</a><br>
<a href="test">TESSSTESTETEST</a><br>
<a href="test">TESSSTESTETEST</a><br>
</div>

<div id="text">
LAANG<br>
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
</div>






</body>
</html>